<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Crypto Portfolio</title>
    <style>
        #tooltip {
            position: absolute;
            width: 90px;
            height: auto;
            pointer-events: none;
        }

        #tooltip.hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div id="total-value"></div>
    <div id="chart"></div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/d3/2.8.1/d3.v2.min.js"></script>
    <script src="static/portfolio.js"></script>
    <div id="tooltip" class="hidden" style="left: 600px, top: 400px">
        <p>
            <span id="genre">nothing placeholder</span>
        </p>
    </div>
</body>

</html>